* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.img-fluid{
    width: 45%;
}
.img-thumbnail{
    width: 430px;
}
.nav-link{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.text-center h2{
    color: white;
    text-decoration: none;
    font-size: 40px;
}
.text-center p{
    color: grey;
    text-decoration: none;
    font-size: 20px;
}
.btn-primary{
    background-color: rgb(94, 16, 94);
    color: white;
    font-size: 20px;
    text-decoration: none;
}

/*--- Front Page ---*/
.header{
    background-color:black;
    background-position: center;
    background-size: cover;
    position: relative;
}
.Intro{
    background-color: black;
    padding-bottom: 5%;
}
.Home{
    background-color: black;
}
.A-Home{
    padding-bottom: 5%;
    background-color: black;
}
.S-Home{
    padding-bottom: 3%;
    background-color: black;
}

/*--- Art Page ---*/

.Art{
    background-color: black;
}
.text-center h5{
    color: white;
    text-decoration: none;
    font-size: 60px;
}
.Portfolio{
    background-image: linear-gradient(black, rgb(112, 23, 112));
}

/*--- Game Page ---*/

.Games{
    background-color: black;
    padding-bottom: 1%;
}
.text-center h5{
    color: white;
    text-decoration: none;
    font-size: 60px;
}
.Library{
    background-image: linear-gradient(black, black);
}

/*--- Support Page ---*/

.Support{
    background-color: black;
}
.col-md-4{
    background-color: black;
    padding-bottom: 10%;
}
.card{
    background-color: white;
}
.card-title{
    color: black;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}
