/* *{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-color:black;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: default;

}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: blue;
    display: block;
    margin: auto;
    transition: 0.2s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.work{
    width: 100%;
    padding: 100px;
    background-color: black;
    background-position: center;
    background-size: cover;
    left: 10px;
}
.work-text{
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-align: justify;
    
}
.work-text h2{
    text-align: center;
}
.work-text p{
    text-align: center;
}
button{
    background-color: blue;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 20px 50px;
    border-radius: 30px;
    transition: .1s;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
}
button:hover{
    cursor: pointer;
}

.support-text h2{
    color: white;
    text-decoration: none;
    font-size: 40px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.support-text p{
    color: white;
    text-decoration: none;
    font-size: 30px;
    width: 1130px;
    margin: 15px auto;
    text-align: center;
}
.card-text{
    color: white;
    font-size: 15px;
} */

/*--- Take 2 ---*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.img-fluid{
    width: 45%;
}
.img-thumbnail{
    width: 30%;
}
.nav-link{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.text-center h2{
    color: white;
    text-decoration: none;
    font-size: 40px;
}
.text-center p{
    color: rgb(112, 23, 112);
    text-decoration: none;
    font-size: 20px;
}
.btn-primary{
    background-color: rgb(112, 23, 112);
    color: white;
    font-size: 20px;
    text-decoration: none;
}

/*--- Front Page ---*/
.header{
    background-color:black;
    background-position: center;
    background-size: cover;
    position: relative;
}
.Home{
    background-color: black;
}
.A-Home{
    padding-bottom: 5%;
    background-color: black;
}
.S-Home{
    padding-bottom: 3%;
    background-color: black;
}

/*--- Art Page ---*/

.Art{
    background-color: black;
}
.text-center h5{
    color: white;
    text-decoration: none;
    font-size: 60px;
}
.Portfolio{
    background-image: linear-gradient(black, rgb(112, 23, 112));
}

/*--- Support Page ---*/

.Support{
    background-color: black;
}
.col-md-4{
    background-color: black;
    padding-bottom: 10%;
}
.card{
    background-color: white;
}
.card-title{
    color: black;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}
